#canvass-map {
  width: 970px;
  margin: 0 auto;
  margin-top: 0px;
}

#legend {
  margin: 0 auto;
}

.map-text {
  text-align: center;
  margin-top: 80px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  color: #444;
}

.counties {
  fill: rgb(235,235,235);
  stroke: rgb(255,255,255);
  stroke-linejoin: round;
}

body{
   background: #ddd;    
}

.states {
  fill: none;
  stroke: rgb(0,0,0);
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }